{% extends 'base.html' %} {% block title %} Sobre {% endblock %}
<div class="all">
  {% block content %}
  <h1 style="margin: 1em 0em 0em 1.5em; font-weight: 600; text-align: left">
    Participantes:
  </h1>
  <section class="members">
    <div class="memb">
      <h3>Heitor Queiroga</h3>
      <ul>
        <li>A ideia inicial do projeto e a logo</li>
        <li>Modificações do Header</li>
        <li>Mecanismo de pegar as informações de alterado por último e data de criação</li>
        <li>Gerenciamento do repositório e revisão final</li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="memb">
      <h3>João Vicente</h3>
      <p>Lorem ipsum</p>
    </div>
    <div class="memb">
      <h3>Lucas Sampaio</h3>
      <p>Criou o arquivo base do projeto e banco de dados</p>
    </div>
    <div class="memb">
      <h3>Thiago Morais</h3>
      <p>Montou o design e estilização da página</p>
    </div>
  </section>
  {% endblock %}
</div>
