{% extends 'base.html' %}
{% block title %} Sobre {% endblock %}
<div class="all">
    
    {% block content %}
    <h1 style="margin: 1em 0em 0em 1.5em; font-weight: 600; text-align: left;">Participantes:</h1>
    <section class="members">
        <div class="memb">
            <h3>Heitor Queiroga</h3>
            <p>Lorem ipsum</p>
        </div>
        <div class="memb">
            <h3>João Vicente</h3>
            <p>Lorem ipsum</p>
        </div>
        <div class="memb">
            <h3>Lucas Sampio</h3>
            <p>Criou o arquvi base</p>
        </div>
        <div class="memb">
            <h3>Thiago Morais</h3>
            <p>Montou o Design da pagina</p>
        </div>
    </section>
    {% endblock %}
</div>