{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post" class="form-create">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      placeholder="Post title"
      class="form-control"
      value="{{ request.form['title'] }}"
    />
  </div>

  <div class="form-group">
    <label for="priority">Priority</label>
    <input
      type="text"
      name="priority"
      placeholder="Post priority"
      class="form-control"
      value="{{ request.form['priority'] }}"
    />
  </div>

  <div class="form-group">
    <label for="begining_date">Begining date</label>
    <input
      type="text"
      name="begin_date"
      placeholder="Post begining_date"
      class="form-control"
      value="{{ request.form['begin_date'] }}"
    />
  </div>

  <div class="form-group">
    <label for="finishing_date">Finishing date</label>
    <input
      type="text"
      name="finishing_date"
      placeholder="Post finishing_date"
      class="form-control"
      value="{{ request.form['finishing_date'] }}"
    />
  </div>

  <div class="form-group">
    <label for="creation_date">Creation date</label>
    <input
      type="text"
      name="creation_date"
      placeholder="Post creation_date"
      class="form-control"
      value="{{ request.form['creation_date'] }}"
    />
  </div>

  <div class="form-group">
    <label for="last_time_edited">Last time edited</label>
    <input
      type="text"
      name="last_time_edited"
      placeholder="Post last_time_edited"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" style="height: 400px; resize: none;" placeholder="Post content" class="form-control">
      {{ request.form['content'] }}
    </textarea>
  </div>

  <div class="form-group">
    <label for="title">Owner</label>
    <input
      type="text"
      name="author"
      placeholder="Owner"
      class="form-control"
      value="{{ request.form['author'] }}"
    />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<script>
  window.addEventListener('onload', getData('last_time_edited'))

  function getData(name) {
    const input = document.getElementsByName(name)[0].value
    const data = new Date()
    console.log(input)  
    console.log(data)
    document.getElementsByName(name)[0].value = `${data.getDay() + 1} / ${data.getMonth() + 1} / ${data.getFullYear()}`
  }
</script>
{% endblock %}
