{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      placeholder="Post title"
      class="form-control"
      value="{{ request.form['title'] or post['title'] }}"
    />
  </div>

  <div class="form-group">
    <label for="priority">Priority</label>
    <input
      type="text"
      name="priority"
      placeholder="Post priority"
      class="form-control"
      value="{{ request.form['priority'] or post['priority'] }}"
    />
  </div>

  <div class="form-group">
    <label for="begining_date">Begining date</label>
    <input
      type="text"
      name="begining_date"
      placeholder="Post begining_date"
      class="form-control"
      value="{{ request.form['begining_date'] or post['begining_date']}}"
    />
  </div>

  <div class="form-group">
    <label for="finishing_date">Finishing date</label>
    <input
      type="text"
      name="finishing_date"
      placeholder="Post finishing_date"
      class="form-control"
      value="{{ request.form['finishing_date'] or post['finishing_date'] }}"
    />
  </div>

  <div class="form-group">
    <label for="is_reminder">Is reminder?</label>
    <input
      type="checkbox"
      name="is_reminder"
      placeholder="Post is_reminder"
      class="form-control"
      value="{{ request.form['is_reminder'] or post['is_reminder'] }}"
    />
  </div>

  <div class="form-group">
    <label for="creation_date">Creation date</label>
    <input
      type="text"
      name="creation_date"
      placeholder="Post creation_date"
      class="form-control"
      value="{{ request.form['creation_date'] or post['creation_date']}}"
    />
  </div>

  <div class="form-group">
    <label for="last_time_edited">Last time edited</label>
    <input
      type="text"
      name="last_time_edited"
      placeholder="Post last_time_edited"
      class="form-control"
      value="{{ request.form['last_time_edited'] or post['last_time_edited']}}"
    />
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" placeholder="Post content" class="form-control">
      {{ request.form['content'] or post['content'] }}
    </textarea>
  </div>

  <div class="form-group">
    <label for="title">Owner</label>
    <input
      type="text"
      name="author"
      placeholder="Owner"
      class="form-control"
      value="{{ request.form['author'] or post['author'] }}"
    />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<hr />

<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
  <input
    type="submit"
    value="Delete Post"
    class="btn btn-danger btn-sm"
    onclick="return confirm('Are you sure you want to delete this post?')"
  />
</form>
{% endblock %}
